.jumbotron {
    min-height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
     transition: box-shadow 2s, transform 3s;
     background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
     background-size: cover;    
}


