.title {
    text-align: center;
}

h5 {
    color: black;
    text-align: center;
    
}
h4 {
   color: rgb(3, 122, 39);
}
.modalHeader {
    background-color: #FF0000;
    text-align: center;
}

.modalBody{
    background-color: #FAFAD2;
}

.textarea { 
    
    max-width: auto;
   }

   .save-btn {
       float: right;
   }